@font-face {
  font-family: "WorkSans";
  src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf);
}
:root {
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: "WorkSans";
}

html {
  font-size: 62.5%;
}

body {
  background-position: top;
  background-color: var(--light-pink);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100dvh;
  display: grid;
  background-image: url(./assets/images/background-pattern-desktop.svg);
  font-size: 1rem;
  place-content: center;
}

.card {
  margin: auto;
  background-color: var(--white);
  padding: 3rem;
  max-width: 50%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1.5rem;
}

h1 {
  color: var(--dark-purple);
  font-size: 5rem;
}

.card-item {
  padding: 2rem 0;
}

.card-item-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  color: var(--dark-purple);
  background-color: transparent;
  width: 100%;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-weight: 700;
}
.card-icon > img {
  width: 3rem;
  margin-left: 2rem;
}
.minus-icon {
  display: none;
}
.card-item-description {
  margin: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--grayish-purple);
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease;
}
.button:hover {
  color: purple;
}
.card-item:not(:last-child) {
  border-bottom: solid 2px var(--light-pink);
}

.card-item:last-child {
  padding-bottom: 0;
}

@media (max-width: 700px) {
  html {
    font-size: 55%;
  }
  body {
    background-image: url(./assets/images/background-pattern-mobile.svg);
    min-width: 375px;
  }
  .card {
    max-width: 75%;
    padding: 2.5rem 2.5rem 1rem 2.5rem;
  }
  .card-icon > img {
    margin-left: 1rem;
  }
}
